.contactform {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactform form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contactform form .side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactform form .side-by-side input {
    flex: 10;
}

.contactform form .side-by-side .gap {
    flex: 1;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #333;
}

input[type="text"]:active,
input[type="email"]:active,
textarea:active {
    border: 2px solid #333;
}

textarea {
    resize: none;
    font-family: sans-serif;
}

input[type="submit"] {
    padding: 20px 0;
    font-size: 1rem;
    cursor: pointer;
    background-color: #d5d5e1;
    border: 1px solid #333;
    border-radius: 5px;
    letter-spacing: 1px;
}

input[type="submit"]:hover {
    filter: brightness(.95);
}

@media screen and (max-width:600px) {
    .gap {
        display: none;
    }
}

@media screen and (prefers-color-scheme: dark) {
    input[type="text"],
    input[type="email"],
    textarea {
        background-color: #222;
        color: #fff;
    }
}