footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

footer .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer .item {
    color: #fff;
    cursor: pointer;
}

footer .item:hover {
    filter: brightness(50%);
    color: #fff;
}

footer .social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .social span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

footer .social span svg {
    transform: scale(.5);
    fill: white;
}

.facebook {
    background-color: #375594;
}

.twitter {
    background-color: #00c7f7;
}

.instagram {
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.email {
    background-color: #d54b3e;
}

footer .copyright {
    width: 100%;
    margin: 40px 0 0 0;
    text-align: center;
}