@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap');
html,
body {
    padding: 40px 0 0 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
.theme-big {
    font-family: 'Londrina Solid', cursive;
    font-weight: 900;
}

h3,
h4,
.theme-small {
    font-family: 'Londrina Solid', cursive;
    font-weight: 400;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.subtitle {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}

.title,
.subtitle {
    text-align: center;
}