.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    transition: all 0.2s ease;
    width: 45%;
    position: relative;
    padding-left: calc(1.5rem + 120px);
    min-height: calc(3rem + 100px);
}

.card img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 1px solid #c7c7c7;
    position: absolute;
    left: 0;
    margin-left: 1.5rem;
    transition: all 0.2s ease;
}

.card:hover,
.card:focus,
.card:active,
.card:hover img,
.card:focus img,
.card:active img {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}